@using FluentyValidation.Infrastructure
@model FluentyValidation.Models.Customer
@{
    ViewBag.Title = "Home Page";
}

@Html.ValidationDiv()

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <button type="submit">Save</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
